<!DOCTYPE html>
<html lang="en">

<head>

  <title>Log Parser</title>

</head>

<body id="page-top">

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <select class="browser-default custom-select" id="logType" onchange="checkmode()">
              <option selected value='Joomla'>Joomla (default)</option>
              <option value='IIS'>IIS</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <select class="browser-default custom-select" id="modeType" disabled="true">
              <option selected value='detail'>detailed</option>
              <option value='summurl'>summary (IP & URL)</option>
              <option value='summstat'>summary (IP & status)</option>
              <option value='summip'>summary (IP only)</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <select class="browser-default custom-select" id="botType">
              <option selected value='default'>IP & agent</option>
              <option value='agent'>agent only</option>
              <option value='ip'>IP only</option>
              <option value='exclude'>No bots</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <select class="browser-default custom-select" id="blockedType" onchange="checkinclusion()">
            <option selected value='Y'>Include Blocked IPs</option>
            <option value='N'>Exclude Blocked IPs</option>
            <option value='O'>Only Blocked IPs</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <select class="browser-default custom-select" id="internalType" onchange="checkinclusion()">
            <option selected value='Y'>Include Internal IPs</option>
            <option value='N'>Exclude Internal IPs</option>
            <option value='O'>Only Internal IPs</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label for="email">Email Output?</label>
          <input type="checkbox" id="email" onclick="checkmail()">
          <input type="text" id="emailaddress" disabled="true">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        <button id="submitbutton" onclick="logparse()">submit</button>
        <button id="resetbutton" onclick="resetflags()">reset</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <textarea rows="3" id="results" readonly style="border: none"></textarea>
        </div>
      </div>
    </div>
  </section> 

  <script src="logparse-process.js"></script>
  <script src="webapp-process.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</body>

</html>
